.card {
  /*  when not hover */
  transition: translate ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}
.card:hover,
.card:focus {
  /*  when hover */
  translate: 0 -5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
